redash:
  # Define all users for the instance
  users:
    j.eduardo@gmail.com:
      name: 'J. Eduardo'

    test2@test2.com:
      name: 'Test User 2'

    test@test.com:
      name: 'Test User 1'

    test4@test.com:
      name: 'Test User 4'

    test3@test.com:
      name: 'Test User 3'

  # Define all groups for the instance
  groups:
    test:
      members:
        - 'j.eduardo@gmail.com'
        - 'test@test.com'
        - 'test2@test2.com'
        - 'test3@test.com'
        - 'test4@test.com'
      datasources:
        Internal Redash PostgreSQL:
          view_only: True
        Second test datasource:

    test2:
      absent: True

    Test Group:
      members:
        - 'j.eduardo@gmail.com'
      # For no datasources it is possible to just add an empty entry or omit
      # it altogether. If the group had datasources before, an empty map will
      # take care of removing all of them.
      datasources: {}

  # Define all datasources for the instance
  datasources:
    Internal Redash PostgreSQL:
      type: pg
      options:
        host: postgres
        port: 5432
        user: postgres
        dbname: postgres

    Second test datasource:
      type: pg
      options:
        host: postgres
        port: 5432
        user: postgres
        dbname: postgres

    Absent datasource:
      absent: True

  # Define all queries for the instance
  queries:
    Check database version:
      namespaced: False
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        SELECT * FROM data_sources

    Unpublished query:
      namespaced: False
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'unpublished query' || now()
      publish: False

    Check database version scheduled every 1 minute:
      namespaced: False
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'every 1 minute' || now()
      schedule: {{ 1 * 60 }} # 1 minute

    Check database version scheduled every 30 minutes:
      namespaced: False
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'every 30 minutes' || now()
      schedule: {{ 30 * 60 }} # 30 minutes

    Check database version scheduled at 10:15 pm:
      namespaced: False
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'run at 22:15' || now()
      schedule: '22:15'

    Check database version namespaced:
      namespaced: True
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        SELECT * FROM data_sources

    Unpublished query namespaced:
      namespaced: True
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'unpublished query' || now()
      publish: False

    Check database version scheduled every 1 minute namespaced:
      namespaced: True
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'every 1 minute' || now()
      schedule: {{ 1 * 60 }} # 1 minute

    Check database version scheduled every 30 minutes namespaced:
      namespaced: True
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'every 30 minutes' || now()
      schedule: {{ 30 * 60 }} # 30 minutes

    Check database version scheduled at 10:15 pm namespaced:
      namespaced: True
      datasource: Internal Redash PostgreSQL
      description: Query modified in Salt
      query: |
        select 'run at 22:15' || now()
      schedule: '22:15'


